<footer class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center mt-5">
               <p> <img src="{{ asset ('images/icon.jpg') }}" class="m-0" height="50" alt="icon"></p>
                <p>Follow us</p>
                <p>
                    <a href="">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
            </div>
            <div class="col-md-4 mt-5 text-center">
                <p>{% trans %}8th Floor, Bin Awedah Group BLDG. In{% endtrans %}</p>
                <p>{% trans %}front of Al Nour Hospital 8th Floor,{% endtrans %}</p>
                <p>{% trans %}Abu Dhabi P.O.BOX: 72267{% endtrans %}</p>
                <p>{% trans %}+ 971-2-6273988{% endtrans %}</p>
            </div>
            <div class="col-md-4 mt-5 link text-center">
               <p> <a href="#" class="mr-3">{% trans %}Contact us{% endtrans %}</a></p>
               <p> <a href="#" class="mr-3">{% trans %}KEO FTP{% endtrans %}</a></p>
               <p> <a href="#" class="mr-3">{% trans %}Community Potral{% endtrans %}</a></p>
               <p> <a href="#" class="mr-3">{% trans %}KEO webmail{% endtrans %}</a></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 text-center">
        <p>&copy;{% trans %}2021, All rights reserved.{% endtrans %}</p>
    </div>
</footer>
